<div class="flash-messages w-full">
  <% flash.each do |type, message| %>
    <% class_name = case type
      when "notice" then "bg-green-50 text-green-500"
      when "alert" then "bg-red-50 text-red-500"
      else "bg-gray-50 text-gray-700"
    end %>
    <div class="py-2 px-3 mb-5 font-medium rounded-lg <%= class_name %>">
      <%= message %>
    </div>
  <% end %>
</div>
