<%= search_form_for @q, url: products_path, class: "flex flex-col md:flex-row gap-4" do |f| %>

  <div class="flex-1">
    <%= f.text_field :name_cont, placeholder: "Enter product name...", class: "w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div>
    <%= f.submit "Search", class: "px-4 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 focus:ring-4 focus:ring-blue-300" %>
  </div>
   <div class="flex items-center mt-4">
    <%= link_to products_path, class: "inline-flex items-center justify-center p-2 bg-gray-200 text-red-700 rounded-full shadow-sm focus:ring-blue-300", title: "Reset search" do %>
      <i class="fa-solid fa-rotate-right"></i> <!-- Ãcono de "rotate-right" de Font Awesome -->
    <% end %>
  </div>
<% end %>
