<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Products" %>
<% if user_signed_in? %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
<%end%>

 <div class="mb-6">
    <%= render 'shared/search_form' %>
  </div>

    <div id="products" class="grid grid-cols-3 sm:grid-cols-1 md:grid-cols-3 gap-2 ">
      <% @products.each do |product| %>
      <%= render 'shared/card', product: product %>
    <% end %>
    </div>

  
  
</div>
